### Working with Pandas : An Introduction

In [1]:
#importing the require libraries
import pandas as pd
import numpy as np

In [2]:
# to create a Series in pd just past a list
# into the function pd.Series()
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

A series can only contain a single list and optional index

In [3]:
# creating a series with a numpy arra
# you can pass a list 
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [8]:
# Using strings as index
# we can pass a list and it how we want it to be index into the Series function
days = pd.Series(['Monday', 'Tuesdays', 'Wednesday'], index = ['a', 'b', 'c'])

In [9]:
print(days)

a       Monday
b     Tuesdays
c    Wednesday
dtype: object

In [5]:
# create series from a dictionary
# you can also past a dictionary to the series function
# with the key use to index the array and also acess it element
days1 = pd.Series({'a': 'Monday', 'b': 'Tuesday', 'c': 'Wednesday'})

In [11]:
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [12]:
# Accessing Series
# returns the first element
days[0]

'Monday'

In [13]:
# from the second element til the end
days[1:]

b     Tuesdays
c    Wednesday
dtype: object

In [14]:
# using the index of key to acces the data
days['c']

'Wednesday'

In [15]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

### Create a DataFrame from a dictionary
A dataframe is a collection of series

In [10]:
# create a dataframe from a dictionary
# This is a dictionary with key values pairs
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria','Togo'],
           'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
          'Population': [1000, 8500, 35000, 12000],
          'Age': [60, 70, 80, 75]}

In [11]:
print(df_dict)

{'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'], 'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'], 'Population': [1000, 8500, 35000, 12000], 'Age': [60, 70, 80, 75]}

In [12]:
df_dict['Country'
]

['Ghana', 'Kenya', 'Nigeria', 'Togo']

In [36]:
# converting the dictionary to dataframe
# passing the dictionary and the index

df = pd.DataFrame(df_dict, index=[2, 4, 6, 8])

The index can also be refer to as the label i.e you can specify how you want your data to be label.

In [37]:
# putting it in a dataframe : a nicely and neat formatted out put
df

   Country  Capital  Population  Age
2    Ghana    Accra        1000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

## Using iloc and loc to selecting dataframe element
iloc select values from row and column using integer index to locate position
loc on the other hand selects rows and columns using labels.
at and iat are used to retrieve single values such that at uses the column and row label and iat uses indices

#### Selecting Data Across rows
_to select data across row : use labels or index  to get the select row_

In [38]:
# select the row in the at ind

In [41]:
df.loc[8]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

#### Selecting Data across column

In [42]:
# select the capital column
df['Capital']

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [43]:
df[['Capital', 'Population']]

   Capital  Population
2    Accra        1000
4  Nairobi        8500
6    Abuja       35000
8     Lome       12000

In [44]:
# returning a specific data in colunm
df.at[6, 'Country']

'Nigeria'

In [45]:
df.iat[2,0]

'Nigeria'

### Performing Summary Statistics on the column data

In [46]:
# this gives the sum of the population
df['Population'].sum()

56500

In [48]:
df[['Population', 'Age']].mean()

Population    14125.00
Age              71.25
dtype: float64

In [49]:
# Summary statistics for numerical data
df.describe()

         Population        Age
count      4.000000   4.000000
mean   14125.000000  71.250000
std    14653.640048   8.539126
min     1000.000000  60.000000
25%     6625.000000  67.500000
50%    10250.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000